.mainInformation{
    padding: 100px 0px;
    background: linear-gradient(#192f59e5,#192f59e5),url(../../img/universityinformation.jpg);
    background-position: top bottom;
    background-attachment: fixed;
}
.universityInformationP{
    line-height:39.1px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px 0px 20px;
    padding:0px;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    color:  rgb(216, 227, 251);
    text-align:left;
    text-indent:0px;
}