.footer{
    padding-top: 40px;
    padding-bottom: 20px;
    background: linear-gradient(#192f59da,#192f59da),url(../../img/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}