.teacher{
    padding: 60px 0px;
    margin-top: 70px;
    background:linear-gradient(#192f59de,#192f59de),url(../../img/tback.jpg);
    background-repeat: no-repeat;
    background-position: top bottom;
}